/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.maincontainer {
  width: 90%;
  margin: 0 auto;
}
.main-nav {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-nav .nav {
  margin-left: 20%;
  margin-right: 30%;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-nav .nav a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
.butdiv {
  width: 15%;
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.butdiv a {
  text-decoration: none;
  font-size: 2rem;
}
.logbut {
  color: #54b1e6;
}
.signbut {
  background-color: #01d1bf;
  border-radius: 50px;
  padding: 10px 35px;
  color: white;
}
.why-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.Why {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Why .imgofworkers {
  width: 60%;
}
.Why .imgofworkers .workers {
  margin-top: 5%;
  width: 100%;
  border-radius: 10px;
}
.ptags {
  margin-left: 3%;
  margin-right: 3%;
  width: 60%;
}
.ptags p {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 2rem;
}
.Everyone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8%;
}
.team-img {
  border-radius: 50%;
}
.andrew {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.andrew img {
  margin-top: 10%;
  width: 50%;
}
.andrew p {
  font-size: 2rem;
}
.andrew .linkangithub {
  margin-bottom: 5%;
}
.andrew:hover {
  background-image: url("../img/cookies.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.young {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.young img {
  margin-top: 10%;
  width: 50%;
}
.young p {
  font-size: 2rem;
}
.young .linkangithub {
  margin-bottom: 5%;
}
.young:hover {
  background-image: url("../img/chip-bags.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.andrew-wilson {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.andrew-wilson img {
  margin-top: 10%;
  width: 50%;
}
.andrew-wilson p {
  font-size: 2rem;
}
.andrew-wilson .linkangithub {
  margin-bottom: 5%;
}
.andrew-wilson:hover {
  background-image: url("../img/ruffles.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.John {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.John img {
  margin-top: 10%;
  width: 50%;
}
.John p {
  font-size: 2rem;
}
.John .linkangithub {
  margin-bottom: 5%;
}
.John:hover {
  background-image: url("../img/doritos\ 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.Lucas {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Lucas img {
  margin-top: 10%;
  width: 50%;
}
.Lucas p {
  font-size: 2rem;
}
.Lucas .linkangithub {
  margin-bottom: 5%;
}
.Lucas:hover {
  background-image: url("../img/almonds2.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
}
.luis {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.luis img {
  margin-top: 10%;
  width: 50%;
}
.luis p {
  font-size: 2rem;
}
.luis .linkangithub {
  margin-bottom: 5%;
}
.luis:hover {
  background-image: url("../img/beef2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.mark {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mark img {
  margin-top: 10%;
  width: 50%;
}
.mark p {
  font-size: 2rem;
}
.mark .linkangithub {
  margin-bottom: 5%;
}
.mark:hover {
  background-image: url("../img/reese's.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.mikaela {
  width: 23%;
  border: 4px solid gray;
  background-color: white;
  margin-bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mikaela img {
  margin-top: 10%;
  width: 50%;
}
.mikaela p {
  font-size: 2rem;
}
.mikaela .linkangithub {
  margin-bottom: 5%;
}
.mikaela:hover {
  background-image: url("../img/pretzel.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
