.main-header{
   
    width: 100%;
  
    padding: 2rem;
    height: 70vh;

    .displayflex1(@direction: column);
    background-image: linear-gradient(to right bottom, rgba(@btn-bg-dark, 0.8), rgba(@btn-bg-light,.7)), url(../img/snackbox.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    div{
        width: 70%;
        h1{
            margin-bottom: 2rem;
            font-weight: 400;
            color: white;

        }
        h2{
            margin-bottom: 1rem;
            color: white;
        }
    }
}