.main-header{
   
    width: 100%;
  
    padding: 2rem;
    height: 60vh;
    @media @mobile {
        height: 70vh;
       
       }

    .displayflex1(@direction: column);
    background-image: linear-gradient(to right bottom, rgba(@btn-bg-dark, 0.8), rgba(@btn-bg-light,.7)), url(../img/snackbox.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    div{
        width: 70%;
        margin-bottom: 3rem;
        h1{
            margin-bottom: 1.5rem;
            font-weight: 400;
            color: white;

            @media @mobile{
            font-size: 3.0rem;
            }

        }
        h2{
           .h2(white);
           @media @mobile{
           font-size: 2.5rem;
        }
        }
    }
// main header buttons

    .btn-header{
        
      
        .btn-explore{
             .btn-header();  //mixin
             
             color: white;
             background-color: @main-color-dark;
             display: inline-block;
             @media @mobile{
                font-size: 1.5rem;
             }
            

             &:hover{
                 background-color: @main-color-light;
                
             }
        }

        .btn-create{
            
            .btn-header();// mixin
            color: @main-color-dark;
            background-color: white;
            display: inline-block;
            
            @media @mobile{
                font-size: 1.4rem;
             }
            
           

            &:hover{
                background-color: @main-color-light;     
                color: white;
               
            }
       }

    }
    
}