//parametric mixins
.displayflex ( @d, @j, @a) {
  display: flex;
  flex-direction: @d;
  justify-content: @j;
  align-items: @a;
}
.mem (@mb, @backcolor) {
  width: 23%;
  border: 4px solid @btn-bg;
  // border-right: 2px solid #01d1bf;
  // border-top: 2px solid #01d1bf;
  // border-left: 2px solid #01d1bf;
  background-color: @backcolor;
  margin-bottom: @mb;

  .borderRadius();
  .displayflex(column, space-between, center);
  @media @tablet {
    width: 48%;
  }
  @media @mobile {
    width: 75%;
    margin-left: 12%;
  }

  &:hover {
    color: white;
    border: 1px solid @btn-bg-dark;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: translateY(-0.2rem);

    text-align: center;
  }

  img {
    margin-top: 10%;
    margin-bottom: 4%;
    width: 50%;
  }
  p {
    font-size: 2rem;
    margin-top: 3%;
  }
  .linkangithub {
    margin-bottom: 5%;
  }
}

//mixins
.checkborder() {
  border: 2px solid red;
}
.borderRadius() {
  border-radius: 10px;
}

.borderRadius() {
  border-radius: 10px;
}

.displayflex1 (@direction: row, @justify: center, @align: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
  //flex-wrap: wrap;
}

// styling for navigation
.navi() {
  .displayflex1(@justify: space-around);

  width: 35%;

  padding: 1rem;
  margin: 1rem;

  a {
    text-decoration: none;

    padding: 1rem 1.5rem;
    color: @color-grey-dark-3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  a:hover {
    color: white;
    border: 1px solid @btn-bg-dark;
    background: @btn-bg-dark;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  }
}
// navigation login sign up buttons
.btn-main() {
  text-decoration: none;

  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: white;
  background-color: @btn-bg;
  border: 1px solid @btn-bg;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: all 0.4s;

  &:hover {
    color: white;
    border: 1px solid @btn-bg-dark;
    background: @btn-bg-dark;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: translateY(-0.2rem);

    text-align: center;
  }
}

// mixin for header buttons
.btn-header() {
  text-decoration: none;

  font-size: 1.8rem;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  transition: all 0.4s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    text-align: center;

    transform: translateY(-0.5rem);
  }
}

.h2(@color: black) {
  margin-bottom: 1rem;
  color: @color;
}
